.anouncment {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #78766C;
    margin-top: 20px;
    border-radius: 10px;
}

.anouncment .name{
    font-weight: 400;
    font-size: 35px;
    line-height: 51px;
}
.anouncment .date{
    opacity: 0.7;
    margin: 10px 0;
}

@media screen {
    .anouncment {
        width: 70%;
        margin: 20px auto;
    }
}