.form {
    display: flex;
    flex-direction: column;
    border: 1px solid #4875FF;
    border-radius: 10px;
    font-weight: 400;
    font-size: 12px;

    text-align: center;
}



.form input {
    height: 30px;
    width: 70%;
    margin: 0 auto 20px auto;
    margin-top: 5px;
    margin-bottom: 20px;

}

.form button {
    width: 30%;
    margin: 40px auto 20px auto;
    height: 40px;
    background-color: #4875FF;
    border-radius: 10px;
    border-width: 0;
    color: white;
   
}
