.site-pages {
    display: flex;
    flex-direction: column;
}

.site-pages-name {
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    margin:50px auto 50px auto;
}

.site-pages-name button {
    background: #FFFFFF;
    border: 2px solid #4875FF;
    border-radius: 40px;
}

.site-pages-block {
    display: flex;
    flex-direction: column;
}

.site-pages-name button {
    display: none;
}

@media screen and (min-width: 768px)   {
    .site-pages{
        flex-direction: row;

    }

    .site-pages-block {
        flex-grow: 4;
    }

    .site-pages-name {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
    }

    .site-pages-name button{
        display: block;
        margin-left: 10%;
        margin-right: 20px;
        padding: 10px 20px;
    }
}