.authorization {
    margin: 20px;
    padding: 10px;
}

@media screen and (min-width: 768px) {  
    .authorization {
        max-width: 30%;
        margin-left: auto;
        margin-right: auto;
    }

}
