.meter-readings {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

@media screen and (min-width: 768px) {
    .readings {
        width: 100%;
    }
    .meter-readings {
        flex-direction: row;
        align-items: center;
    }
    
}
