.panel-menu .active button {
    color: #9E125E;
}

.panel-menu button{
    border: 1px solid #4875FF;
    background-color: white;
    padding: 20px;

    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #4875FF;
    width: 100%;
}
