.panel-menu .active button {
    color: #c02e7f;
}

.panel-menu-item button{
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    background: #2E3549;
    color: #FFFFFF;
    border: 2px solid #7D818B;
    margin: 0;
    box-sizing: border-box;
    padding: 20px;
    outline: none;
}