.panel-menu-wrapper {
    flex-basis: 320px;
    flex-shrink: 0;
}

.panel-menu {
    display: flex;
    position: relative;
    flex-direction: column;
    background: #2E3549;
}

@media screen and (min-width: 768px) {
    .panel-menu {
        position: fixed;
        width: 320px;
        height: 100vh;

    }
}